#builds
build/
install/
log/
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

#bags
*.mcap
*.bag
*.db3
ros2_ws/bags

#generated meshes/ point clouds
*.ply
*.pcd
*.stl
*.obj
ros2_ws/meshes
ros2_ws/point_clouds

#TF graphs
ros2_ws/frames_*.gv
ros2_ws/frames_*.pdf
ros2_ws/frames_view/
ros2_ws/TF_graphs

#local stuff
camera_data/
depthai-python/
depthai_env/
ros2_ws/meshes/
ros2_ws/point_clouds/
ros2_ws/file_dump/
.DS_Store

EOF
